nav, .navbar{
    background-color: #3695eb;
    height: 4rem !important;
}
.dropdown{
    list-style: none;
}
.col-md-2{
    background-color: #d7e5f5;
    padding: 0.4rem;
    min-height: 100vh;
}

.col-md-2 ul{
    list-style: none;
    /* border: 2px solid red; */
    padding: 0.4rem;
    
    
}
.col-md-2 li{
    margin: 1rem;
    /* border: 2px solid red; */
    margin-left: 0.1rem;

}

.dashboard1{
    /* border: 2px solid red; */
    height: 100vh;
}

.dropdown{
    /* border: 2px solid red; */
}

Link, a{
    text-decoration: none;
    color: black;
    padding: 0.3rem;
}
.col-md-10{
    background-color:  #f7f7f7;
}

.heading_dashboard{
    color: grey;
    margin-left: 0.5rem;
}

.profile{
    /* border: 2px solid red; */
    border-radius: 100%;
    height: 80%;
    margin-left: 73vw;
    margin-right: 1vw;

}
nav{
    color: white;
}


/* .dropdown-menu{ */
    /* border: 2px solid red; */
/* } */

.dropdown-sidebar_link{
    /* border: 2px solid black; */
    margin-left: 1.3rem;


    /* display: flex; */
}
.dropdown-sidebar_link div{
    margin-bottom: 0.5rem;
}
