.login{
    background-image: url("../Images/loginbackground.png");
    width: 100vw;
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    padding: 0.3rem;
}
.container1{
    width: 50% !important;
}   
.login-1{
    /* border: 2px solid orange; */
    color: white;
    display: flex;

    margin: auto;
    /* display: flex; */
    /* border: 2px solid white; */
    margin: 0.7rem;
}
.img-lock{
    /* border: 2px solid red; */
}
.login-form{
    background-color: white;
    padding: 1rem;

}
input
{
    margin: 0.8rem;
    margin-left: 0rem;
    border: 2px solid #4d9cf8;
}
button{
    margin: 0.4rem;
}
input[type=email], input[type=password], input[type=text]
{
    width: 95%;

}
.span1, .span2{
    color: white;
}
.span1{
    /* margin-top: 100px !important; */
    /* padding-top: 4rem; */
    /* border: 2px solid pink; */
}
button{
    /* border-radius: 30%;
     */
    -webkit-border-radius: 18px;
    border: 0px;
    padding: 7px 18px;

    
}
.button1{
    background-color: #4d9cf8;
    color: white;
}
.span2{
    /* border: 2px solid red; */
    /* margin-left: 43vw ; */
    /* margin-top: 0rem; */
}
.lowerground{
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: space-between;
}

.validation{
    color: red;
}

.logo-section{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    margin: 1rem;
    /* padding: 1rem; */
}
.logo-section img{
    /* border: 2px solid orange; */
    margin: auto;
    width: 40%;
}