.profile-section{
    /* border: 2px solid red; */
    width: 30%;
    background-color: white;
}
.profile-section img{
    width: 70%;
    /* overflow: hidden; */
    margin-bottom: 1rem;
    margin-top: 2rem;
    margin-left: 2rem !important ;
    border: 4px solid white;
    position: relative;
    top: 10vh;
}
.colour{
    background-color: #4d9cf8;
    margin-bottom: 10vh;
    /* margin-left: 0; */
    /* margin-right: 0; */
}
.star {
    color: yellow;
    font-size: 24px; /* Adjust the font-size to increase or decrease the star size */
  }
  


.stars-rating{
 
    border: 2px solid black;
}
.rating{
    border: 1px soli blue;
    margin: 0.3rem;
}

.send-message{
    border-radius: 0px;
    background-color: #4ca540;
    padding: 0.3rem;
    padding-right: 0.4rem;
    border: 2px solid #4ca540;
    margin-left: 0px;
}
