.row-table{
    background-color: white;
    margin: 1.4rem;
    margin-right: 2rem;
    padding: 1rem;
    /* min-height: 100vh; */
}
.row-table table{
    border: 2px solid grey;
    /* border-collapse: collapse; */
}
.row-table th{
    border: 2px solid grey;
    padding: 0.8rem;
    margin: 0.4rem;
    
}
.row-table td{
    /* border: 2px solid grey; */
    padding: 0.6rem;
    margin: 0.2rem;
}