.icon{
    /* border: 2px solid red; */
}
.icon img{
    width: 20%;
 
    margin: 1rem;
}
.name{
    /* border: 2px solid pink; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.surgery-data{
    /* border: 2px solid black; */
    width: inherit;
    display: flex;
    justify-content: center;
}
.surgery-data td{
    width: 30vw
}
.surgery-detail div{
    margin-bottom: 0.5rem;
}