.col-md-6{
    /* border: 2px solid red; */
}
.createHospital{
    margin: 1.5rem;
}
.createHospital .container{
    background-color: white;
    box-shadow: 1px 1px 2px 1px grey;
    margin: 1rem;
    padding: 2rem;

}
.createHospital input, .createHospital select{
    border: 1px solid grey;
    border-radius: 0px;
    height: 25px;
    width: 58% !important;
}
.createHospital textarea{
    border: 1px solid grey;
border-radius: 0px;
margin-bottom: 3rem;
}



h4
{
    margin-top: 0.3rem;
}
.submit_button{
    width: 100px;
    margin: auto;
    border-radius: 0;
    color: white;
    background-color:  #3695eb;
}

.button_row{
    /* border: 2px solid red; */
    display: flex;
    flex: row;
    justify-content: space-around;
}
.button_row button{
    margin: 1rem ;
}


.data div{
    margin: 1.5rem;
}